// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  font-family: 'light 300';
}


h1 h4 {
  font-family: 'light 300';
}

 body {
   background-color: yellow;
 }


.banner {
   background: red;
   h1 {
     font-size: 50px;
   }
 }
